venv/
.Rhistory
Pers.ods
personal_financial_tracker/fin_tracker/__pycache__/wsgi.cpython-313.pyc
*.log
*.env
.idea/
backend/personal_financial_tracker/fin_tracker/__pycache__/urls.cpython-313.pyc
backend/personal_financial_tracker/fin_tracker/__pycache__/urls.cpython-313.pyc
backend/personal_financial_tracker/fin_tracker/__pycache__/settings.cpython-313.pyc
backend/personal_financial_tracker/fin_tracker/__pycache__/__init__.cpython-313.pyc
backend/personal_financial_tracker/expenses/__pycache__/admin.cpython-313.pyc
